:root {
    --primary: #3254FF;
    --primary-100: #243FDB;
    --primary-200: #192DB7;
    --primary-300: #0F1E93;
    --primary-400: #09147A;
  
    --text-dark-primary: rgba(58, 53, 65, 0.87);
    --text-dark-secondary: rgba(58, 53, 65, 0.68);
    --text-dark-disabled: rgba(58, 53, 65, 0.38);
    --text-light-primary: rgba(231, 227, 252, 0.87);
    --text-light-secondary: rgba(231, 227, 252, 0.68);
    --text-light-disabled: rgba(231, 227, 252, 0.38);
  
    --paper-background: #22282A;
    --body-background: #2F3334;
    --page-header-background: #181A1C;
    --extra-background: #3D4142;
  
    --info: #0586FF; 
    --info-pressed: #024DB7;
    --info-hover: #0367DB;
    --info-background: rgba(205, 241, 255, 0.3);
  
    --success: #9FE04A;
    --success-pressed: #60A125;
    --success-hover: #7EC036;
    --success-background: rgba(244, 253, 219, 0.8);
    
    --warning: #FFE70F;
    --warning-pressed: #B7A207;
    --warning-hover: #DBC40A;
    --warning-background: rgba(255, 252, 207, 0.8);
  
    --error: #FF5B3A;
    --error-pressed: #B71F1D;
    --error-hover: #DB3A2A;
    --error-background: rgba(255, 234, 215, 0.5);
  
    --greyscale-50: #FAFAFA;
    --greyscale-100: #F5F5F5;
    --greyscale-200: #EEEEEE;
    --greyscale-300: #E0E0E0;
    --greyscale-400: #BDBDBD;
    --greyscale-500: #9E9E9E;
    --greyscale-600: #757575;
    --greyscale-700: #616161;
    --greyscale-800: #424242;
    --greyscale-900: #212121;
  }