@import url('./colors.css');
@import url('./typography.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 1440px;
}

.header {
    top: 0;
    width: 100%;
    height: 94px;
    padding: 25px 80px;
    background-color: var(--page-header-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-box {
    width: 520px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-box img {
    width: 103px;
    height: 44px;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;
    letter-spacing: 0.2px;
    color: var(--text-light-primary);
    transition: all 0.3s ease;
}

.nav a:hover {
    color: var(--text-light-secondary);
}

.avatar-profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.avatar-profile img {
    width: 40px;
    height: 40px;
}

.main {
    width: 100%;
    background-color: var(--page-header-background);
    padding-bottom: 50px;
}

.hero-section {
    width: 100%;
    height: 587px;
    background: url('/img/landscape/img-38.svg') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.preview-info {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 80px;
}

.hero-title {
    width: 668px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--text-light-primary);
    cursor: default;
}

.hero-title h1 {
    line-height: 52.8px;
}

.hero-title p {
    font-weight: 500;
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: 0.2px;
}

.button-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.interaction-btn {
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.start-btn {
    width: 93px;
    height: 45px;
    border-radius: 48px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.2px;    
    background-color: var(--primary-300);
    color: var(--text-light-primary);
    cursor: pointer;
    transition: all 0.3s ease;
}

.start-btn:hover {
    background-color: var(--info-hover);
}

.start-btn:active {
    background-color: var(--info-pressed);
}

.more-info {
    width: 185px;
    height: 45px;
    border-radius: 24px;
    background-color: var(--paper-background);
    color: var(--text-light-primary);
    border: none;
    font-weight: 700px;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.more-info:hover {
    background-color: var(--extra-background);
}

.more-info::before {
    content: url('/img/icon/information-outline.svg');
    width: 24px;
    height: 24px;
}

.age-restricted {
    width: 52px;
    height: 45px;
    border-radius: 24px;
    background-color: transparent;
    color: var(--text-light-secondary);
    border: 1px solid var(--text-light-secondary);
    font-weight: 400px;
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: 0.2px;
}

.muted-button {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    border: 1px solid var(--text-light-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.muted-button img {
    width: 24px;
    height: 24px;
}

.muted-button:hover {
    background-color: var(--extra-background);
}

.continueStreaming-section {
    width: 100%;
    height: 309px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px 80px;
}

.continueStreaming-section header, .topFilms-section header, .trendingFilm-section header, .newRelease-section header {
    font-weight: 700;
    font-size: 32px;
    line-height: 35.2px;
    color: var(--text-light-primary);
    cursor: default;
}

.landscape-posters .left-arrowbox {
    z-index: 10;
    width: 44px;
    height: 44px;
    padding: 10px;
    border-radius: 100%;
    background-color: var(--body-background);
    border: 1px solid var(--outline-border) ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60px;
    left: -22px;
    cursor: pointer;
}

.landscape-posters .right-arrowbox {
    z-index: 10;
    width: 44px;
    height: 44px;
    padding: 10px;
    border-radius: 100%;
    background-color: var(--body-background);
    border: 1px solid var(--outline-border) ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60px;
    right: -22px;
    cursor: pointer;
}

.landscape-posters {
    width: 1280px;
    height: 162px;
    display: flex;
    gap: 24px;
    position: relative;
}

.landscape-box {
    width: 302px;
    height: 162px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.landscape-box:hover {
    transform: scale(0.95);
}

.landscape-box img {
    width: 100%;
    height: 100%;
}

.landscape-posters div .description-film {
    width: 100%;
    position: absolute;
    bottom: 16px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.landscape-posters div .description-film p {
    font-weight: 500;
    font-size: 18px;
    line-height: 21.6px;
    color: var(--text-light-primary);
}

.star {
    content: url('/img/icon/star.svg');
    margin-right: 4px;
}

.potrait-posters .left-arrowbox {
    z-index: 10;
    width: 44px;
    height: 44px;
    padding: 10px;
    border-radius: 100%;
    background-color: var(--body-background);
    border: 1px solid var(--outline-border) ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 160px;
    left: -22px;
    cursor: pointer;
}

.potrait-posters .right-arrowbox {
    z-index: 10;
    width: 44px;
    height: 44px;
    padding: 10px;
    border-radius: 100%;
    background-color: var(--body-background);
    border: 1px solid var(--outline-border) ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 160px;
    right: -22px;
    cursor: pointer;
}

.landscape-posters .arrow-left, .potrait-posters .arrow-left {
    width: 24px;
    height: 24px;
}

.landscape-posters .arrow-right, .potrait-posters .arrow-right {
    width: 24px;
    height: 24px;
}

.topFilms-section, .trendingFilm-section, .newRelease-section {
    width: 100%;
    height: 512px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px 80px;
}

.potrait-posters {
    width: 1280px;
    height: 365px;
    display: flex;
    gap: 28px;
    position: relative;
}

.potrait-box {
    width: 234px;
    height: 365px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.potrait-box:hover {
    transform: scale(0.95);
}

.potrait-box img {
    width: 100%;
    height: 100%;
}

.potrait-posters .bookmarked-box {
    position: relative;
}

.bookmark {
    width: 31px;
    height: 48px;
    background-color: var(--error-pressed);
    border-radius: 0 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 12px;
}

.bookmark span {
    color: var(--text-light-primary);
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: 0.2px;
}

.newEpisode-bookmark {
    width: 104px;
    height: 28px;
    border-radius: 24px;
    background-color: var(--primary-300);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 16px;
    left: 16px;
}

.newEpisode-bookmark span {
    color: var(--text-light-primary);
    font-weight: 700;
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: 0.2px;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 284px;
    background-color: var(--page-header-background);
    border-top: 1px solid var(--outline-border);
    display: flex;
    gap: 160px;
    padding: 60px 80px;
}

.footer-header {
    width: 251px;
    height: 91px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 26px;
}

.footer-header img {
    width: 163px;
    height: 44px;
}

.footer-header p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20.4px;
    color: var(--text-light-secondary);
}

.genre {
    width: 514px;
    height: 164px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.genre p, .helps p {
    color: var(--text-light-primary);
    font-weight: 700;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.2px;
}

.genre .nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 13px 28px;
}

.genre .nav a, .helps .nav a {
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.2px;
}

.helps {
    width: 150px;
    height: 164px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
}

.helps .nav {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

/* mobile responsive */

@media only screen and (min-width: 154px) and (max-width: 480px) {
    body {
    min-width: 360px;
    }

    .header {
        top: 0;
        width: 100%;
        height: 56px;
        padding: 6px 20px;
    }

    .nav-box {
        width: 268px;
        height: 44px;
        gap: 12px;
    }

    .nav-box img {
        display: none;
    }

    .nav-box a:first-child:not(.nav a) {
        width: 20px;
        height: 44px;
        background: url(/img/logo/mobile-chilllogo.svg); 
    }

    .nav {
        gap: 12px;
    }

    .nav a {
        font-size: 10px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0.2px;
    }

    .avatar-profile {
        margin-right: 10px;
    }

    .avatar-profile img {
        width: 20px;
        height: 20px;
    }

    .hero-section {
        width: 100%;
        height: 225px;
        align-items: center;
    }

    .preview-info {
        width: 100%;
        gap: 12px;
        padding: 20px;
    }

    .button-box {
        gap: 8px;
    }

    .hero-title {
        width: 100%;
        gap: 12px;
    }

    .hero-title h1 {
        font-weight: 700;
        font-size: 24px;
        line-height: 28.8px;
    }

    .hero-title p {
        font-size: 12px;
        line-height: 16.8px;
        letter-spacing: 0.2px;
    }

    .interaction-btn {
        width: 221px;
    }

    .start-btn {
        width: 55px;
        height: 30px;
        font-size: 12px;
        line-height: 16.8px; 
    }
    .more-info {
        width: 120px;
        height: 30px;
        border-radius: 48px;
        font-size: 12px;
        line-height: 16.8px;
    }

    .moreinfo-icon {
        width: 10px;
        height: 10px;
    }

    .age-restricted {
        width: 30px;
        height: 30px;
        font-weight: 700px;
        font-size: 12px;
        line-height: 16.8px;
    }

    .muted-button {
        width: 30px;
        height: 30px;
    }

    .muted-button img {
        width: 15px;
        height: 15px;
    }

    .continueStreaming-section {
        height: 235px;
        gap: 20px;
        padding: 0 20px;
        overflow: hidden;
    }

    .continueStreaming-section header h4, .topFilms-section header h4, .trendingFilm-section header h4, .newRelease-section header h4 {
        font-size: 20px;
        line-height: 24px;
    }

    .landscape-posters .left-arrowbox {
        display: none;
    }

    .landscape-posters .right-arrowbox {
        display: none;
    }

    .landscape-posters {
        height: 151px;
        gap: 16px;
    }

    .landscape-box {
        width: 309px;
        height: 151px;
    }

    .landscape-box:hover {
        transform: none;
    }

    .landscape-posters .landscape-box .description-film p {
        font-weight: 700;
        font-size: 14px;
        line-height: 19.6px;
    }

    .potrait-posters .left-arrowbox {
        display: none;
    }

    .potrait-posters .right-arrowbox {
        display: none;
    }

    .topFilms-section, .trendingFilm-section, .newRelease-section {
        height: 189px;
        gap: 20px;
        padding: 0 0 0 20px;
        overflow: hidden;
    }
    
    .potrait-posters {
        gap: 16px;
    }

    .potrait-box {
        width: 96px;
        height: 145px;
    }

    .potrait-box:hover {
        transform: none;
    }

    .bookmark {
        width: 14.82px;
        height: 21.82px;
        border-radius: 0 1.91px;
        right: 4px;
    }

    .bookmark span {
        font-size: 6.7px;
        line-height: 9.37px;
        letter-spacing: 0.1px;
    }

    .newEpisode-bookmark {
        width: 44.56px;
        height: 14px;
        border-radius: 12px;
        top: 7.65px;
        left: 7.65px;
    }

    .newEpisode-bookmark span {
        font-size: 5.74px;
        line-height: 8px;
        letter-spacing: 0.1px;
    }

    .main {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .footer {
        height: 193.75px;
        flex-direction: column;
        gap: 0;
        padding: 20px;
    }
    
    .footer-header {
        width: 100%;
        height: 57.75px;
        gap: 16px;
    }
    
    .footer-header img {
        width: 84px;
        height: 24.75px;
    }
    
    .footer-header p {
        font-size: 12px;
        line-height: 16.8px;
    }
    
    .genre {
        margin-top: 40px;
    }
    
    .genre::after {
        content: url('/img/icon/chevron-right.svg');
    }
    
    .helps::after {
        content: url('/img/icon/chevron-right.svg');
    }
    
    .helps {
        margin-top: 8px;
    }

    .genre, .helps {
        width: 100%;
        height: 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .genre .nav {
        display: none;
    }

    .genre p, .helps p {
        font-weight: 500;
    }

    .helps .nav {
        display: none;
    }
}
